@model Yardimci.Entities.Kullanici

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Kullanici</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoyAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoyAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KullaniciAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KullaniciAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sifre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfileImageFileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileImageFileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AktifMi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AktifMi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdminMi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdminMi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YardimciMi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YardimciMi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AktivasyonGuid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AktivasyonGuid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OlusturulmaZamani)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OlusturulmaZamani)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DegistirilmeZamani)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DegistirilmeZamani)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DegistirenKullanici)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DegistirenKullanici)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
